In [2]:
import pandas as pd
customer_df = pd.read_csv("../data/Customers.csv")

In [3]:
customer_df.head()

,custm_id,gender,age,annual_income,spend_score,profession,work_exp,fam_size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6

In [4]:
customer_df.count()

custm_id         2000
gender           2000
age              2000
annual_income    2000
spend_score      2000
profession       1965
work_exp         2000
fam_size         2000
dtype: int64

In [5]:
customer_df.isnull().sum()

custm_id          0
gender            0
age               0
annual_income     0
spend_score       0
profession       35
work_exp          0
fam_size          0
dtype: int64